@import "~styles/colors";
@import "~styles/variables";

.app {
  text-align: center;
}

.header {
  background-color: $dark-gray;
  color: $white;
  height: 15 * $unit;
  padding: 2 * $unit;
}

.logo {
  height: 8 * $unit;
}
